@import "config";

/** flex 布局 */
@mixin flex($hov: space-between, $col: center) {
  display: flex;
  justify-content: $hov;
  align-items: $col;
}

@mixin flex-col($hov: space-between, $col: center) {
  @include flex($hov, $col);
  flex-direction: column;
}

@mixin img($width, $height) {
  width: $width;
  height: $height;

  img {
    width: 100%;
    height: 100%;
  }
}

@mixin container() {
  border: 1px solid $color7;
  box-shadow: 0 1px 7px 0 rgba(0,0,0,0.04);
  box-sizing: border-box;
}

@mixin svg-icon($color: $color8, $fontSize: 20px) {
  color: $color;
  font-size: $fontSize;

  &:hover {
    color: $colorM1;
  }
}
